body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	padding: 0;
	color: #FFF;
	background: linear-gradient(to bottom left, #5db78c, #ce7a52);
}

a{
	color: #FFF;
	font-weight: 700;
}
a:hover{
	color: #FFF;
}

/* Header */
#header p{
	font-size: .9em;
	padding: 1em 0;
}
#header .logo{
	padding: 4em 8em 2em 8em;
	color: #FFF;
}
#header img{
	width: 100%;
}

/* Form */
#form{
	padding-top: 1em;
	padding-bottom: 4em;
}

.form-style{
	display: block;
}

/*
input::placeholder{
	color: #FFF !important;
	opacity: 1;
}
*/

.input-style{
	height: 50px;
	font-size: 16px;
	border-radius: 5px !important;
	margin-top: .5em;
	margin-bottom: .5em !important;
	color: #FFF;
	opacity: 0.2;
}
a.input-style{
	background-color: transparent;
	opacity: 1;
	font-weight: 900;
	padding: .5em 0;
}
p.input-style{
	opacity: 1;
}
#form p{
	height: auto;
}

.fa-circle-o{
	padding: 0;
	border: none;
	border-top: solid 1px;
	text-align: center;
	max-width: 250px;
}
.fa-circle-o:after{
	content: "\f10c";
	font-family: FontAwesome;
	display: inline-block;
	position: relative;
	top: -.7em;
	font-size: 1em;
	margin: 0 10px;
	padding: 0 .25em;
}
.fa-circle-o:before{
	content: none;
}

.fb{
	font-size: 1.5em;
}

/* Footer */
#footer .border{
	border-top: 1px solid #FFF;
}

#footer p{
	padding-top: 20px;
}

/* form validation */
.input-group span{
	background-color: rgba(51,51,51,0.3);
	padding: .7em;  
	color: white;
	font-size: .7em;
}
